@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

:root{
    --mainColor: #2A7AE4;
    --mainColorSoft: #EAF2FD;
    --secondaryColor: #464646;
    --grisClaro: #F5F5F5;
    --grisOscuro: #A2A2A2;
    --colorFondo: #ffffff;
}

.productoNuevo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grisClaro);
}

.productoNuevo h3{
    margin-top: 1.5rem;
}

.productoNuevo .imgPreview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.productoNuevo .imgPreview img{
    width: 15rem;
}

.imgPreview #foto{
    display: none;
}

.imgPreview #btnFoto{
    display: inline-block;
    background: var(--mainColor);
    color: var(--colorFondo);
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    text-align: center;
    line-height: 3rem;
    border: 1px solid var(--colorFondo);
}

.productoNuevo form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productoNuevo form .formItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--colorFondo);
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    height: 4rem;
    padding: .5rem;
}

.formItem input,
.formItem textarea,
.formItem select
.formItem label{
    text-align: start;
    border: none;
    outline: none;
    resize: none;
}

.productoNuevo form button{
    height: 3rem;
    width: 10rem;
    background: var(--mainColor);
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--colorFondo);
    margin-bottom: 1.5rem;
}