@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

:root{
    --mainColor: #2A7AE4;
    --mainColorSoft: #EAF2FD;
    --secondaryColor: #464646;
    --grisClaro: #F5F5F5;
    --grisOscuro: #A2A2A2;
    --colorFondo: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--grisOscuro);
}

/*header*/
.header{
    width: 100%;
    padding: .8rem;
    background: var(--colorFondo);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.header .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

.header .buscador form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    background: var(--grisClaro);
    border-radius: 20px;
    margin: .4rem;
}

.buscador form input{
    outline: none;
    border: none;
    background: var(--grisClaro);
    padding-left: .3rem;
    width: 90%;
}

.buscador form button{
    outline: none;
    border: none;
    background: var(--grisClaro);
    width: 10%;
    height: 2rem;
    line-height: 2rem;
}

.buscador form button i{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.3rem;
    cursor: pointer;
    color: var(--grisOscuro);
}


.header .btnLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .btnLogin a{
    display: block;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    text-decoration: none;
    cursor: pointer;
    padding: .7rem;
    width: 10rem;
    text-align: center;
}

/*Estilos del banner*/
.anuncio{
    position: relative  ;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anuncio img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.anuncio .info-anuncio{
    position: absolute;
    bottom: 0;
    left: 0;
}

.anuncio .info-anuncio h2,
.anuncio .info-anuncio p,
.anuncio .info-anuncio a{
    color: var(--colorFondo)    ;
}

.anuncio .info-anuncio h2{
    font-size: 3.2rem;
    margin-left: 3rem;
}
.anuncio .info-anuncio p{
    font-size: 1.4rem;
    margin-left: 3rem;
}
.anuncio .info-anuncio a{
    display: inline-block;
    text-decoration: none;
    border: none;
    background: var(--mainColor);
    padding: 1rem;
    margin: 2rem 3rem;
}

/*Estilos del catalogo*/
.categoria{
    width: 100%;
    padding: 1rem 10%;
    background-color: var(--colorFondo);
}
.categoria .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria .titulo h2{
    font-size: 2rem;
    color: var(--secondaryColor);
}

.categoria .titulo a,
.categoria .titulo a i{
    color: var(--mainColor);
    font-size: 1.3rem;
    text-decoration: none;
}

.categoria .titulo a i{
    font-size: 1.4rem;
}

/*Estilos de galeria de productos*/
.producto-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: .25rem;
}

.producto-box .producto{
    width: 11rem;
    height: 15rem;
    margin-top: 1rem;
}

.producto-box .producto img{
    width: 11rem;
    height: 10.8rem;
}

.producto-box .producto p{
    font-size: 1rem;
    padding-bottom: .3rem;
}

.producto-box .producto a{
    text-decoration: none;
    color: var(--mainColor);
}

/*Estilos del footer*/
.footer{
    width: 100%;
    background: var(--mainColorSoft);
    margin-top: 20px;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    padding: 2rem;
}

.footer-info .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info .footer-opciones{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer-info .footer-opciones a{
    text-decoration: none;
    color: var(--secondaryColor);
    margin-left: 20%;
    padding: .5rem;
}

.footer-form h3{
    font-size: 1.3rem;
    padding-left: 5%;
}

.footer-form form{
    padding: .5rem;
}

.footer-form form div{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: .5rem;
    background: var(--colorFondo);
    border-radius: 10px;
    margin-bottom: .8rem;
}

.footer-form form div input,
.footer-form form div textarea{
    border: none;
    outline: none;
    resize: none;
}

.footer-form form button{
    background: var(--mainColor);
    color: var(--colorFondo);
    border: none;
    outline: none;
    height: 3rem;
    width: 9rem;
    cursor: pointer;
}

.footer .copyright{
    background-color: var(--colorFondo);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .copyright p{
    text-align: center;
}

/*Media Query*/
@media (max-width:600px) {
    .header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}